.text-shadow {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0, 5);
}
.animate-text-right {
  animation: animateText 1.5s ease;
}

@keyframes animateText {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.size-img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  border-radius: 5%;
}
